<h1 style="font-weight:200"> Team Organizer </h1>
<p> Having trouble splitting up into teams? This app can help! </p>
<br>

<form action="/team_organizer">
  <input name="people_names" class="form-control" placeholder="Enter people names (seperated by commas)"></input><br>
  <input name="number_of_teams"class="form-control" placeholder="How many teams are you making?"><br>
  <input type="submit" class="btn btn-primary btn-large"></input>
</form>

<%if !params[:people_names].nil? && !params[:number_of_teams].nil?%>
<h4 style="font-weight:200">Check out your teams!</h4><br><br>



<div class="row">
  <%@teams.each_with_index do |team, index|%>
  <div class="col-xs-6 col-md-3">
    <div class="thumbnail" style="height:240px;background-color:#EEEEEE;text-align:center;overflow:scroll">
      <span class="badge" style="margin-bottom:2px">Team <%=index+1%></span>
      <ul class="list-group">
        <%team.each do |x|%>
          <li class="list-group-item" style="letter-spacing:2px">
            <strong><%=x%></strong>
          </li>
        <%end%>
      </ul>
    </div>
  </div>

<%end%>
</div>

<%end%>