<h1 style="font-weight:200"> Team Organizer </h1>
<p> Having trouble splitting up into teams? This app can help! </p>
<br>

<form action="/team_organizer">
  <input name="people_names" class="form-control" placeholder="Enter people names (seperated by commas)"></input><br>
  <input name="number_of_teams"class="form-control" placeholder="How many teams are you making?"><br>
  <input type="submit" class="btn btn-primary btn-large"></input>
</form>

<%if !params[:people_names].nil? && !params[:number_of_teams].nil?%>
<%=@teams%>
<%end%>